<h1 class="text-center mt-3">Confirmation</h1>
<p class="text-center"><%= message %></p>
<div class="d-flex justify-content-center"> <!-- Center the button horizontally -->
   <a href="/profile"><button class="btn btn-secondary">Return to Profile</button></a> 
</div>
